@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to delete this?</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
@using (Html.BeginForm())
{
  <input type="submit" class="btn" value="Delete" />
}
@Html.ActionLink("Back to list of Stylists", "Index")