body, html {
  font: 400 15px/1.8 Lato, sans-serif;
  height: 100%;
  color: #777;
  background-color: grey;
}

h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;      
  font-size: 20px;
  color: #111;
}
h1, h2 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;      
  color: #111;
}
h5 {
  margin-top: -20px;
  text-align: center;
}
li {
  margin-top: -10px;
  letter-spacing: 10px;      
  font-size: 20px;
  color: #111;
  margin-left: 10%;
}
.container {
  padding: 20px 120px;
  background-color: white;
  height: 100%;
}
.jumbotron {
  background-color: rgb(237, 186, 211);
  text-align: center;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}
h4 {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

/* media */
.hairpic {
  float: right;
  box-shadow: 4px 4px rgb(106, 106, 106);
}
input {
  /* display: block; */
  margin: 10px;
}
select {
  padding: 8px;
  margin: 10px;
  color: grey;
}


/* links */
/* unvisited link */
a:link {
  color: rgb(211, 145, 178);
  font-size: 20px;
  letter-spacing: 3px;
}

/* visited link */
a:visited {
  color: rgb(211, 145, 178);
  text-shadow: 3px 2px #353535;
  font-size: 20px;
  letter-spacing: 3px;
}

/* mouse over link */
a:hover {
  color: rgb(130, 130, 130);
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
}

/* selected link */
a:active {
  color: rgb(181, 181, 181);
  font-size: 20px;
  letter-spacing: 3px;
}