@{
  Layout = "_Layout";
}

<h2>Welcome to the Hair Salon Management!</h2>
<img src="https://i.pinimg.com/originals/ee/1b/6e/ee1b6ed481f5e3fa9776a4670c5af0c8.png" class="hairpic">
<p>@Html.ActionLink("See all Clients", "Index", "Clients")</p> 
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>